config
crash-reports
data
defaultconfigs
immersive_paintings
immersive_paintings_cache
libraries
logs
modernfix
mods
moonlight-global-datapacks
patchouli_books
schematics
scripts_buckup
tacz
tacz_backup
tools
trees
world
banned-ips.json
banned-players.json
eula.txt
ops.json
usercache.json
usernamecache.json
whitelist.json
